.Cart-Items{
    margin: auto;
    width: 90%;
    height: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 5px 5px 9px grey;
    padding:10px;
   }
   .image-box{
    width: 15%;
    text-align: center;
   }
   .image-box img{
    width:100%;
    height: 100%;
    
   }
   .about{
    height: 100%;
   }
   .title{
    padding-top: 5px;
    line-height: 10px;
    font-size: 32px;
    font-family: ‘Open Sans’;
    font-weight: 800;
    color: #202020;
   }
   .subtitle{
    line-height: 10px;
    font-size: 18px;
    font-family: ‘Open Sans’;
    font-weight: 600;
    color: #909090;
   }
   @media screen and (max-width:500px){
    .title{
        font-size:18px
    }
   }